<section id="features" class="features">
  <div class="container">
    <h2>Key Features</h2>
    <div class="features-grid">
      <div class="feature-card">
        <div class="icon">
          <fa-icon [icon]="faBolt"></fa-icon>
        </div>
        <h3>Fast Downloads</h3>
        <p>Efficient downloading, designed for speed.</p>
      </div>

      <div class="feature-card">
        <div class="icon">
          <fa-icon [icon]="faSlidersH"></fa-icon>
        </div>
        <h3>Easy-to-Use Interface</h3>
        <p>Clean and intuitive web interface for a seamless experience.</p>
      </div>

      <div class="feature-card">
        <div class="icon">
          <fa-icon [icon]="faGlobe"></fa-icon>
        </div>
        <h3>Multi-Source Support</h3>
        <p>
          Download from various online platforms. (See Roadmap for specifics)
        </p>
      </div>

      <div class="feature-card">
        <div class="icon">
          <fa-icon [icon]="faMusic"></fa-icon>
        </div>
        <h3>YouTube & Spotify</h3>
        <p>Currently supports YouTube media and Spotify songs.</p>
      </div>
    </div>
  </div>
</section>
