<app-navbar></app-navbar>

<main>
  <section id="hero">
    <app-hero></app-hero>
  </section>
  <section id="features">
    <app-features></app-features>
  </section>
  <section id="screenshots">
    <app-screenshots></app-screenshots>
  </section>
  <section id="installation">
    <app-installation></app-installation>
  </section>
  <section id="usage">
    <app-usage></app-usage>
  </section>
  <section id="roadmap">
    <app-roadmap></app-roadmap>
  </section>
</main>

<app-footer></app-footer>
